---
import BlogEntry from "../components/BlogEntry.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Astro Blog";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>My Musings</h2>
	<ul>
		{allPosts.map((post) => <BlogEntry url={post.url} frontmatter={post.frontmatter} />)}
	</ul>
</BaseLayout>
